body {
    font-size: 10px;
    box-sizing: border-box;
    background-color: rgb(45, 146, 254);
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'PT Serif', serif;
}

.title {
    font-size: 1.5rem;
    background-color: #88fbff;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 60px;
}

#card {
    width: 20%;
    height: 350px;
    display: flex;
    background-color: #88fbff;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 100px;
    box-shadow: 10px 10px;
    padding: 20px;
    transition: 1.5s;
}
#card:hover{
    transform: scale(1.1);
}

.card-title {
    font-size: 2.2rem;
}

.card-img {
    width: 345px;
    height: 171px;
    margin: auto;
}

.card-desc {
    font-size: 1.3rem;
}

.card-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div {
    border-radius: 50px;
    text-align: center;
    margin: auto;
    align-items: center;

}